<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>

<% 
    ArrayList<Provincias> provinciasEdit = null;
    if (request.getAttribute("provincias")!=null) 
    	provinciasEdit = (ArrayList<Provincias>) request.getAttribute("provincias");
   	ArrayList<Localidades> localidadesEdit= null;
    if (request.getAttribute("localidades")!=null)
    	localidadesEdit = (ArrayList<Localidades>) request.getAttribute("localidades");    
%>

<script type="text/javascript">
	function onLoadEdit(){
		const provs = document.getElementById('ddlProvinciasEdit');
		provs.value = <%= usrSeleccionadoEditar.getProvincia_Usr().getIdProvincia_Prov() %>;
		const locs = document.getElementById('ddlLocalidadesEdit');
		locs.value = <%= usrSeleccionadoEditar.getLocalidad_Usr().getIdLocalidad_Loc() %>;	
	}
	
	window.onload = function() {
		onLoadEdit();
		onLoadProv(<%= localidadesEdit.get(0).getProvincia().getIdProvincia_Prov() %>)
		
	}
	
	function onLoadProv(id){
		const a = document.getElementById('ddlProvinciasEdit');
       	a.value = id;
	}
</script>

<body>

<div class="container-fluid" style="width:50%;">
        <div class="card text-center" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 100px;">
            <div class="card-header"><h5>Modificar</h5></div>
            <div class="card-body" style="font-size: 14px;">
                <form name="formEditarUsr" method="POST" action="ModificarUsuario" class="row">  
                
                	
                
                	
           	 	    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" 
                            name="txtDNIEdit" 
                            class="form-control" 
                            id="floatingInput" placeholder="-"
                            oninput="this.value=this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" 
                            minlength="7" 
                            maxlength="8"
                            placeholder="-"
                            disabled="false"
                            value= <%= usrSeleccionadoEditar.getDNI_Usr() %> >
                            <label for="floatingInput">DNI</label>
                        </div>
                    </div>
                   
               
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" name="txtCUILEdit" class="form-control" id="floatingInput" placeholder="-" 
                            oninput="this.value =this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" 
                            minlength="11"
                            maxlength="11"
                            placeholder="-"
                            disabled="false"
                            value= <%= usrSeleccionadoEditar.getCUIL_Usr() %>
                            >
                            <label for="floatingInput">CUIL</label>
                        </div>
                    </div>
      
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" 
                           	name="txtNombreEdit"
                            class="form-control" 
                            id="floatingInput" 
                            placeholder="-"
                            maxlength="19"
                            value= <%= usrSeleccionadoEditar.getNombre_Usr() %> 
                            required>
                            <label for="floatingInput">Nombre</label>
                        </div>
                    </div>
               
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text"
                             name="txtApellidoEdit" 
                             class="form-control" 
                             id="floatingInput" 
                             placeholder="-" 
                             maxlength="19"
                             value= <%= usrSeleccionadoEditar.getApellido_Usr() %>
                             required>
                            <label for="floatingInput">Apellido</label> 
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="tel" 
                            name="txtTelefonoEdit"
                            class="form-control"  
                            id="floatingInput" 
                            placeholder="-"
                            maxlength="9" 
                             value= <%= usrSeleccionadoEditar.getTelefono_Usr() %>
                            required>
                            <label for="floatingInput">Telï¿½fono</label>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="email" 
                            name="txtEmailEdit" 
                            class="form-control"  
                            id="floatingInput" 
                            placeholder="-" 
                            maxlength="40"
                            value= <%= usrSeleccionadoEditar.getEmail_Usr() %>
                            required>
                            <label for="floatingInput">Email</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating">
                        	
                            <select name="ddlTipoEdit" id="" class="form-select" id="floatingInput" placeholder="-" required>
                            	<%
                            		if(usrSeleccionadoEditar.isTipo_Usr()){
                            	%>
	                            	<option value=false selected> Estandar </option>
	                            	<option value=true > Admin </option>
	                            <%
	                            } else {
	                            %>
	                            	<option value=false > Estandar </option>
	                            	<option value=true selected> Admin </option>
	                            <% 
	                            }
	                            %>
	                            
                            </select>
                            <label for="floatingSelect">Tipo de usuario</label>
                        </div>
                    </div>
                    
                    <br>
               		
               		  <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input type="text" 
                            name="txtUsuarioEdit"
							class="form-control" 
							id="floatingInput" 
							placeholder="-" 
							maxlength="29"
							value= <%= usrSeleccionadoEditar.getUsuario_Usr() %>
                            required>
                            <label for="floatingSelect">Usuario</label>
                        </div>
                    </div>
               		
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <input type="text" 
                            name="txtContraseniaEdit" 
                            class="form-control" 
                            id="floatingInput" 
                            placeholder="-" 
                            maxlength="15"
                            value= <%= usrSeleccionadoEditar.getContrasenia_Usr() %>
                            required>
                            <label for="floatingSelect">Contraseña</label>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <input type="text" 
                            name="txtDireccionEdit" 
                            class="form-control" 
                            id="floatingInput" 
                            placeholder="-"
                            maxlength="29" 
                            value= <%= usrSeleccionadoEditar.getDireccion_Usr() %>
                            required>
                            <label for="floatingSelect">Direccion</label>
                        </div>
                    </div>
               
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input class="form-control" 
                            type="date" 
                            name="FechaEdit" 
					     	value=  <%= usrSeleccionadoEditar.getFechaNacimiento_Usr() %>                       
                            required
                            />
                            <label for="floatingSelect">Nacimiento</label>
                        </div>
                    </div>
                
                    <div class="col-md-6" >
                        <label class="form-label">Sexo</label>
                        <br>
                        <% 
                        	String sexo = usrSeleccionadoEditar.getSexo_Usr() ;
                        	if(sexo.equals("MASCULINO")){
                        %>
	                       <div class="form-check form-check-inline">
	                            <input type="radio" class="form-check-input" name="rbSexoEdit" value="MASCULINO" checked>
	                            <label class="form-check-label">Hombre</label>
	                        </div>
	                        <div class="form-check form-check-inline">
	                            <input type="radio" class="form-check-input" name="rbSexoEdit" value="FEMENINO">
	                            <label class="form-check-label">Mujer</label>
	                        </div>
                        <%}else{%>
                        	<div class="form-check form-check-inline">
	                            <input type="radio" class="form-check-input" name="rbSexoEdit" value="MASCULINO" >
	                            <label class="form-check-label">Hombre</label>
	                        </div>
	                        <div class="form-check form-check-inline">
	                            <input type="radio" class="form-check-input" name="rbSexoEdit" value="FEMENINO" checked>
	                            <label class="form-check-label">Mujer</label>
	                        </div>
                       	<%}%>
                        <!-- 
							
                         -->
                        
                    </div>

                    
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <input type="text" 
                            name="txtNacionalidadEdit" 
                            class="form-control" 
                            id="floatingInput" 
                            placeholder="-" 
                            value=  <%= usrSeleccionadoEditar.getNacionalidad_Usr() %>
                            maxlength="19"   
                            required>
                            <label for="floatingSelect">Nacionalidad</label>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-floating">
							<input type="hidden" name="provSeleccionadaEdit" value="<%=usrSeleccionadoEditar.getDNI_Usr()%>"> 
							<!-- input que sirve como parametro para provSeleccionada para no tener que meter otro form -->
                            <select id="ddlProvinciasEdit" name="ddlProvinciasEdit" class="form-select" placeholder="-" onchange="provSeleccionada('ddlProvinciasEdit', 'ddlLocalidadesEdit');" >
                                <%
								if (provinciasEdit!=null)
								for(Provincias prov : provinciasEdit){
									%>
									<option value= <%= prov.getIdProvincia_Prov()%> > <%=prov.getDescripcion_Prov()%> </option>
									<%
								}
								%>
                            </select>
                            <label for="floatingSelect">Provincia</label>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-floating">
                            <select id="ddlLocalidadesEdit" class="form-select" placeholder="-">
                            	<% 
								if (localidadesEdit!=null)
								for(Localidades loc : localidadesEdit){
									if(loc.getProvincia().getIdProvincia_Prov() == 1){	
									%>
									<option value= <%= loc.getIdLocalidad_Loc() %>> <%= loc.getDescripcion_Loc() %></option>
									<%
									}
								}
								%>
                            </select>
                            <label for="floatingSelect">Localidad</label>
                        </div>
                    </div>				
            		<br>
           
            		<div class="col-md-6">
                        <br>
                        <input type="button" onclick="window.location.href='servletUsuarios';" value="cancelar" class="btn btn-light form-control btn-lg"/>
                    </div>
                    <div class="col-md-6">
                        <br>
                        <button type="submit" name="btnModificar" class="btn btn-outline-dark form-control btn-lg">Modificar</button>
                    </div>
              </form>
			    
			     <%
					Boolean resultadoEdit = null;
			    	if (request.getAttribute("estadoEditado") != null) resultadoEdit = (Boolean)request.getAttribute("estadoEditado");
					if (resultadoEdit!=null){
						%>
						<h1> <%= resultadoEdit %> </h1>	 
						<%
					}
				%>
            </div>
        </div>
	</div>

</body>
</html>